    body,html{
	     	width:100%;height:100%;margin:0;padding:0;
	     	 background:#e5eeff;
	     }
	     .title{
	     	text-align:center;
		    margin-top:30px;
		    font-size:30px;
		    color:#1a5996;
		    font-weight: 800;
	     }
	     input{margin:0;padding:0;}
		.inputs div{
			width:50%;
			height:30px;
			float:left;
			margin-top:10px;
		}
		.inputs .inputs_div2{
			width:100%;
		}
		.inputs div input{
			width:60%;
			height:100%;
			float:right;
		}
		.inputs .inputs_div2 input{
			float:right;
		}
		.inputs .inputs_div2 button{
			width:60%;
			height:100%;
			margin:0 auto;
			background:#3399ff;
			color:#fff;
			border:0;
		}