{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/swiper.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'addaddress/css/addaddress.css' %}">
    {% block link %}{% endblock link %}

    <script type="text/javascript" src="{% static 'base/js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/swiper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'addaddress/js/addaddress.js' %}"></script>
    {% block script %}{% endblock script %}
</head>
<body>
<header><a href="/mine/address/"><span class="glyphicon glyphicon-menu-left" id="glyph"></span></a><span>添加地址</span></header>
<div class="formmain">
        <form class="edit-form block" method="post">
            {% csrf_token %}
            <table class="addr-edit">
                <tbody>
                <tr class="theme-spline spline-list">
                <th>联系人</th>
                <td>
                    <input class="addr-input" type="text" name="name" value="" maxlength="30" placeholder="收货人姓名">
                </td>
            </tr>
            <tr class="row-city theme-spline spline-list">
                <th>性别</th>
                <td class="more">
                    <input class="addr-city-select keyboard-fix" type="radio" name="sex" value="0">男
                     <input class="addr-city-select keyboard-fix" type="radio" name="sex" value="1">女
                </td>
            </tr>
            <tr class="row-phone theme-spline spline-list">
                <th>手机号码</th>
                <td>
                    <input class="addr-input keyboard-fix" type="tel" name="telphone" value="" placeholder="鲜蜂侠联系您的电话" maxlength="11">
                </td>
            </tr>
            <tr class="row-city theme-spline spline-list">
                <th>所在省份</th>
                <td class="more">
                     <input class="addr-input keyboard-fix" type="text" name="address_2" value="" placeholder="输入所在的省份">
                </td>
            </tr>

            <tr class="row-addrdetail theme-spline spline-list">
                <th>城市</th>
                <td>
                    <input class="addr-input keyboard-fix" type="text" name="address_3" value="" placeholder="输入所在的城市">
                </td>
            </tr>
            <tr class="row-addrdetail theme-spline spline-list">
                <th>区县</th>
                <td>
                    <input class="addr-input keyboard-fix" type="text" name="address_4" value="" placeholder="输入所在的区县">
                </td>
            </tr>
            <tr class="row-addrdetail theme-spline spline-list">
                <th>街道</th>
                <td>
                    <input class="addr-input keyboard-fix" type="text" name="address_5" value="" placeholder="输入所在街道">
                </td>
            </tr>
            <tr class="row-addrdetail theme-spline spline-list">
                <th>详细地址</th>
                <td>
                    <input class="addr-input keyboard-fix" type="text" name="address_6" value="" placeholder="请输入楼号门牌号等详细信息">
                </td>
            </tr>
             <tr class="row-addrdetail theme-spline spline-list">
                <th>邮编</th>
                <td>
                    <input class="addr-input keyboard-fix" type="text" name="postCode" value="" placeholder="请输入邮编">
                </td>
            </tr>
                </tbody>
            </table>
            <button type="submit" >点击提交</button>
        </form>
</div>
<footer></footer>
</body>
</html>